.modal-body {
    padding: 50px;
}

h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.input-row {
    display: flex;
}

.input-row > label {
    flex-basis: 200px;
}

.input-row > input {
    width: 400px;
}